@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  /* font-size: 16px;  */
}

.header {
  background: gray;
  padding-top: 20px;
}
.header__container {
  max-width: 1110px;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
  min-height: 40px;
  border: 1px solid red;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__nav-list {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}
.header .header__nav-list-item {
  margin: 0 5px;
}
.header .header__nav-link {
  color: inherit;
}
.header__text {
  font-size: 50px;
  margin-top: 50px;
  width: 48%;
  text-align: center;
  margin-bottom: 30px;
}
.header__text-btn {
  margin: 0px auto;
  font-size: 30px;
  width: 50%;
  text-align: center;
}
.header__list {
  margin-left: 30px;
  font-size: 22px;
  margin-top: 15px;
  line-height: 40px;
}
.header__list-item::before {
  content: "-";
}
.header__span {
  display: inline-block;
  margin-top: 20px;
  color: #454545;
  font-size: 16px;
  margin-left: 60%;
  margin-bottom: 20px;
}
.header__form {
  margin-left: 70%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.logo__img {
  margin-right: 20px;
}
.logo__text {
  font-size: 66px;
}

.sign-up {
  font-size: 16px;
  padding: 20px 10px;
  border-radius: 30px;
  background: green;
  color: white;
}

.if-you {
  background: rgb(204, 39, 80);
}
.if-you__container {
  max-width: 1110px;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
  min-height: 40px;
  border: 1px solid red;
}
.if-you__text {
  font-size: 33px;
  color: #333333;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.if-you__text-top {
  width: 95%;
  text-align: center;
}
.if-you__list {
  color: #333333;
  max-width: 50%;
  margin-bottom: 60px;
}
.if-you__list-item:not(:last-child) {
  margin-bottom: 16px;
}
.if-you__form {
  margin-left: 280px;
}
.if-you__btn {
  background: url(../img/btn.svg) center center/auto auto no-repeat;
  color: white;
  font-size: 20px;
  overflow: visible;
  width: 249px;
  height: 95px;
}
.if-you__btn:first-child {
  margin-right: 120px;
}

body {
  line-height: 1;
  color: #fff;
  background-color: palevioletred;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ------------------------------ */
/* ------------------------------ */