@font-face {
    font-family: "futuraPtLight";
    src: url("../fonts/FuturaPT-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: light;
}

@font-face {
    font-family: "futuraPt";
    src: url("../fonts/FuturaPT-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: medium;
}

@font-face {
    font-family: "futuraPtBold";
    src: url("../fonts/FuturaPT-DemiObl.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "futuraPtNormal";
    src: url("../fonts/FuturaPT-Book.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
