.header {
  background: gray;

  padding-top: 20px;

  &__container {
    max-width: 1110px;
    width: 100%;
    padding: 0px 15px;
    margin: 0px auto;
    min-height: 40px;
    border: 1px solid red;
  }

  // .header__top

  &__top {
    display: flex;
    justify-content: space-between;
  }

  .header {
    &__nav {
    }

    &__nav-list {
      margin-top: 110px;
      display: flex;
      text-transform: uppercase;
    }

    &__nav-list-item {
      margin: 0 5px;
    }

    &__nav-link {
      color: inherit;
    }
  }

  &__content {
  }

  &__text {
    font-size: 50px;
    margin-top: 50px;
    width: 48%;
    text-align: center;
    margin-bottom: 30px;
    &-btn {
      margin: 0px auto;
      font-size: 30px;
      width: 50%;
      text-align: center;
    }
  }

  // .header__list

  &__list {
    margin-left: 30px;
    font-size: 22px;
    margin-top: 15px;
    line-height: 40px;
  }

  // .header__list-item

  &__list-item {
    &::before {
      content: "-";
    }
  }

  // .header__span

  &__span {
    display: inline-block;
    margin-top: 20px;
    color: #454545;
    font-size: 16px;
    margin-left: 60%;
    margin-bottom: 20px;
  }

  // .header__form

  &__form {
    margin-left: 70%;
  }
}
.logo {
  display: flex;
  align-items: flex-start;
  // .logo__img

  &__img {
    margin-right: 20px;
  }

  // .logo__text

  &__text {
    font-size: 66px;
  }
}
.sign-up {
  font-size: 16px;
  padding: 20px 10px;
  border-radius: 30px;
  background: green;
  color: white;
}
.st-btn {
}
