.header {
  background: gray;

  padding-top: 20px;

  &__container {
    max-width: 1110px;
    width: 100%;
    padding: 0px 15px;
    margin: 0px auto;
    min-height: 40px;
    border: 1px solid red;
  }

  // .header__top

  &__top {
    display: flex;
    flex-direction: column;
  }

  .header {
    &__nav {
    }

    &__nav-list {
      margin-top: 40px;
      display: flex;
      text-transform: uppercase;
    }

    &__nav-list-item {
      margin: 0 5px;
    }

    &__nav-link {
      color: inherit;
    }
  }

  &__content {
  }

  &__text {
    font-size: 50px;
    margin-top: 50px;
    width: 48%;
    text-align: center;
    margin-bottom: 30px;
    &-btn {
      font-size: 30px;
      width: 50%;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  // .header__list

  &__list {
    margin-left: 30px;
    font-size: 22px;
    margin-top: 15px;
    max-width: 50%;
    line-height: 40px;
  }

  // .header__list-item

  &__list-item {
    font-style: italic;

    &::before {
      content: "-";
    }
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  // .header__span

  &__span {
    display: inline-block;
    margin-top: 20px;
    color: #454545;
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  // .header__form

  &__form {
  }
}
.logo {
  display: flex;
  align-items: flex-start;
  // .logo__img

  &__img {
    margin-right: 20px;
  }

  // .logo__text

  &__text {
    font-size: 66px;
  }
}
.sign-up {
  display: flex;
  margin: 15px 0px 30px 95px;
  font-size: 16px;
  padding: 20px 10px;
  border-radius: 30px;
  background: green;
  color: white;
}
.st-btn {
}
